:root {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgb(31, 31, 31);
  background-color: #e6e6e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CSS Variables */
  --gray-50: #e7e5e5;
  --gray-100: #b3b3b3;
  --gray-200: #737272;
  --gray-300: #444444;
  --blue-200: #5d5da3;
  --blue-300: #4848a3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

